/*********************************************
 * OVERVIEW
 *********************************************/

.reveal.overview {
  perspective-origin: 50% 50%;
  perspective: 700px;

  .slides {
    // Fixes overview rendering errors in FF48+, not applied to
    // other browsers since it degrades performance
    -moz-transform-style: preserve-3d;
  }

  .slides section {
    height: 100%;
    top: 0 !important;
    opacity: 1 !important;
    overflow: hidden;
    visibility: visible !important;
    cursor: pointer;
    box-sizing: border-box;
  }
  .slides section:hover,
  .slides section.present {
    outline: 10px solid rgba(150,150,150,0.4);
    outline-offset: 10px;
  }
  .slides section .fragment {
    opacity: 1;
    transition: none;
  }
  .slides section:after,
  .slides section:before {
    display: none !important;
  }
  .slides>section.stack {
    padding: 0;
    top: 0 !important;
    background: none;
    outline: none;
    overflow: visible;
  }

  .backgrounds {
    perspective: inherit;

    // Fixes overview rendering errors in FF48+, not applied to
    // other browsers since it degrades performance
    -moz-transform-style: preserve-3d;
  }

  .backgrounds .slide-background {
    opacity: 1;
    visibility: visible;

    // This can't be applied to the slide itself in Safari
    outline: 10px solid rgba(150,150,150,0.1);
    outline-offset: 10px;
  }

  .backgrounds .slide-background.stack {
    overflow: visible;
  }
}

// Disable transitions transitions while we're activating
// or deactivating the overview mode.
.reveal.overview .slides section,
.reveal.overview-deactivating .slides section {
  transition: none;
}

.reveal.overview .backgrounds .slide-background,
.reveal.overview-deactivating .backgrounds .slide-background {
  transition: none;
}
