/*********************************************
 * RTL SUPPORT
 *********************************************/

.reveal.rtl .slides,
.reveal.rtl .slides h1,
.reveal.rtl .slides h2,
.reveal.rtl .slides h3,
.reveal.rtl .slides h4,
.reveal.rtl .slides h5,
.reveal.rtl .slides h6 {
  direction: rtl;
  font-family: sans-serif;
}

.reveal.rtl pre,
.reveal.rtl code {
  direction: ltr;
}

.reveal.rtl ol,
.reveal.rtl ul {
  text-align: right;
}

.reveal.rtl .progress span {
  float: right
}
