/*********************************************
 * SLIDE NUMBER
 *********************************************/

.reveal .slide-number {
  position: fixed;
  display: block;
  right: 8px;
  bottom: 8px;
  z-index: 31;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  background-color: rgba( 0, 0, 0, 0.4 );
  padding: 5px;
}

.reveal .slide-number-delimiter {
  margin: 0 3px;
}
